body,
html {
  @apply font-main text-base text-grey-dark leading-tight;
}
.container {
  @apply max-w-[1240px] mx-auto px-[20px];
}
h1 {
  @apply text-[64px] font-second font-bold sm:text-[40px];
}
h2 {
  @apply text-[50px] font-second uppercase text-center sm:text-[36px];
  span {
    @apply text-yellow;
  }
}

.t-fade-enter,
.t-fade-leave-to {
  @apply opacity-0;
}

.t-fade-enter-active, .t-fade-leave-active {
  @apply transition-all;
}

.page-offset {
  @apply pb-11;
}

.draw-svg *{
  stroke: #393939;
  fill-opacity: 0;
}

.draw-svg.finished * {
  transition: all 1s;
  fill-opacity: 1;
  stroke: transparent;
}